*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inder", sans-serif;
    background: #EADBC8;
    /*background: linear-gradient(45deg, #EDDFE0, #FEFAF6, #EADBC8 );
    animation: color 12s ease-in-out infinite;*/
}
.inder-regular {
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
.im-fell-french-canon-sc-regular {
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
  }
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    background: #EADBC8;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar span{
    padding-left: 100px;
    padding-top: 20px;
}
.navbar ul{
    padding-right: 100px;
    padding-top: 20px;
    list-style: none;
    display: flex;
}
div.start{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
span a{
    font-size: 20px;
    text-decoration: none;
    font-family: "Inder", sans-serif;
    color: #102C57;
    padding-right: 80px;
}
.navbar i{
    color: #102C57;
    font-size: 20px;
    padding-left: 10px;
}
#horizontal-line{
    width:100%;
    background-color: #102C57;
    height: 2px;
    margin-top: 20px;
}
/*body{
    display: grid;
    place-items: center;
}
/*rotating circle*/
.circle{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 10s linear infinite;
    color: #102C57;
}
@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.text span{
    position: absolute;
    left: 50%;
    font-size: 1.4em;
    transform-origin: 0 250px;
}
.info{
    height: 450px;
    width: 450px;
    background-color: #DAC0A3;
    border-radius: 50%;
    z-index: 1;
}
.sinf{
    margin-top: 120px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 225px;
    border-radius: 50%;
}
.sinf p{
    color: #102C57;
    font-family: "Berkshire Swash", serif;
    font-size: 22px;
}

/* Project heseg */

#Projects{
    width: 100%;
    height: 100vh;
}
h3{
    display: flex;
    justify-content: center;
    color: #102C57;
    font-size: 28px;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 300px;
    background-color: #243042;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 30px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    font-size: 15px;
    color: #243042;
    line-height: 1.3;
}
.card-content button{
    /*display: inline-block;*/
    padding: 8px 16px;
    background-color: #faead3;
    border: 2px solid #c0b4a4;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    margin-left: 75px;
    color: #102C57;
}
.card-content button:hover{
    background-color: #faf4eb;
    border: 2px solid palegoldenrod;
}

/*about heseg*/
#About{
    background-color: #102C57;
    float: right;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 190vh;
}
.bird{
    position: relative;
    float: left;
    height: 500px;
    width: 280px;
    margin-top: 100px;
    margin-left: 200px;
    z-index: 2;
}
.spot{
    position: relative;
    float: right;
    height: 500px;
    width: 280px;
    margin-top: 220px;
    margin-right: 200px;
    z-index: 3;
}

div.iam{
    margin-top: 150px;
    margin-left: 400px;
    position: absolute;
    background-color: #EADBC8;
    border: #102C57;
    width: 700px;
    height: 520px;
    z-index: 4;
}
p.head{
    margin-top: 80px;
    color: #102C57;
    display: flex;
    justify-content: center;
    font-family: "Berkshire Swash", serif;
    font-size: 25px;
}
p.b{
    padding: 60px;
    font-family: "IM Fell French Canon SC", serif;
    font-size: 22px;
}
.hb{
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow{
    color: #102C57;
    margin-top: 85px;
    margin-left: 5px;
}
main{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 145px;
}
.Apart{
    margin-top: 109vh; 
}
.art img{
    z-index: 4;
    position: absolute;
    height: 300px;
    width: 300px;
}
